<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <script src="https://kit.fontawesome.com/bb22cb708c.js" crossorigin="anonymous"></script>
    <title>Contacto</title>
</head>

<body>

    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="logo Animalandia">
        </div>
        <div class="botones">
            <button class="b-azul"><a href="login.html">
                    <i class="fas fa-address-card"></i>
                    Ingresar</a></button>
            <button class="b-morado">Registrarse</button>
        </div>
    </header>

    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="agenda.html" class="item">Agenda</a>
        <a href="contacto.html" class="item">Contacto</a>
    </nav>

    <main>

        <h1 class="tseccion">Contacto</h1>
        <section id="contacto" class="caja-mapa"">

            <article class=" ubicacion">
            <h2>Conoce nuestra ubicación</h2>
            <img src="../assets/img/bx-current-location 1.svg">
            </article>

            <article class="ub-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63629.552429876436!2d-74.11717590787111!3d4.621366844458087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a5b0cac632d%3A0x81e231a684a4159c!2sKuepa%20-%20Calle%2072!5e0!3m2!1ses!2sco!4v1646617756687!5m2!1ses!2sco"
                    width="600" height="450" allowfullscreen="" loading="lazy"></iframe>
            </article>

        </section>


        <section id="info-contactos">

            <article class="info-contacto">

                <h2>Dejanos tus datos</h2>

                <input type="text" id="nombre" name="nombre" required placeholder="Nombre completo"
                    class="info-contacto-input1 input-azulado">
                <input type="email" id="correo" name="correo" required placeholder="Correo electrónico"
                    class="info-contacto-input1 input-morado">
                <input type="text" id="numero" name="numero" required placeholder="Número de contacto"
                    class="info-contacto-input1 input-azulado">
                <input type="text" id="mensaje" name="mensaje" required placeholder="Dejanos tu mensaje..."
                    class="info-contacto-input-mensaje input-morado">

                <button type="submit">Enviar
                    <img src="../assets/img/bx-send.svg">
                    </buttton>

            </article>

            <article class="img-patica">
                <img src="../assets/img/veterinarianhospital.svg">
            </article>
        </section>

        <section id="datos-contacto" class="datos">

            <article>
                <h2>Datos</h2>
                <img src="../assets/img/Vector 13.svg">
                <div class="datos">
                    <img src="../assets/img/bxl-whatsapp 1.svg">
                    <p>(+57) 304 539 4003</p>
                </div>
                <div class="datos">
                    <img src="../assets/img/bxs-phone-call 1.svg">
                    <p> (601) 2284168</p>
                </div>
            </article>

            <article>
                <h2>Visitanos</h2>
                <img src="../assets/img/Vector 13.svg">
                <div class="datos">
                    <img src="../assets/img/bx-home-heart 1.svg">
                    <p> (+57) 304 539 4003</p>
                </div>

            </article>

            <article>
                <h2>Síguenos</h2>
                <img src="../assets/img/Vector 13.svg">
                <div>
                    <img src="../assets/img/bxl-instagram 1.svg">
                    <img src="../assets/img/bxl-facebook-circle 1.svg">
                    <img src="../assets/img/bxl-pinterest 1.svg">
                </div>

            </article>


        </section>

        <footer>
            <div class="box-footer">
                <div class="foot">
                    <img src="../assets/img/bx-buildings.svg" alt="Icono building">
                    <h3>Sedes</h3>
                    <p>
                        Sede Kennedy <br>
                        Sede Suba <br>
                        Sede Fontibón <br>
                        Sede Centro
                    </p>
                </div>
                <div class="foot">
                    <img src="../assets/img/bx-buildings.svg" alt="Icono building">
                    <h3>Sedes</h3>
                    <p>
                        Sede Kennedy <br>
                        Sede Suba <br>
                        Sede Fontibón <br>
                        Sede Centro
                    </p>
                </div>
                <div class="foot">
                    <img src="../assets/img/bx-buildings.svg" alt="Icono building">
                    <h3>Sedes</h3>
                    <p>
                        Sede Kennedy <br>
                        Sede Suba <br>
                        Sede Fontibón <br>
                        Sede Centro
                    </p>
                </div>
            </div>
        </footer>